
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #29475a;
    }
    .scroll {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    .scroll__text {
      flex: 1 1 50%;
      max-width: 30rem;
      padding: 1rem;
      order: 1;
      z-index: 2;
    }
    .scroll__graphic {
      position: sticky;
      top: 0;
      height: 100vh;
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      /* background-color: #f0f0f0; */
      background-color: #17313E;
      order: 2;
      z-index: 1;
    }
    .step {
      margin: 2rem 0;
      padding: 2rem;
      min-height: 50vh;
      font-size: 1.2rem;
      line-height: 1.6;
      /* opacity: 0.2; */
      transition: opacity 0.3s ease-in-out;
    }
    .scroll__text{
       background-color: #2A4759;
       margin-top: auto;
       color: white;
      }
    .chart {
      width: 100%;
      max-width: 800px;
    }
    svg {
      background-color: #17313E;
      max-width: 100%;
      height: auto;
    }
    @media (prefers-reduced-motion: reduce) {
      .cell, .step {
        transition: none !important;
      }
    }
    @media (max-width: 768px) {
      .scroll {
        flex-direction: column;
      }
      .scroll__text,
      .scroll__graphic {
        flex: 1 1 100%;
        order: initial;
      }
      .scroll__graphic {
        position: relative;
        height: 50vh;
      }
      .scroll__text {
        max-width: 100%;
      }
      .step {
        opacity: 1; /* Ensure visibility on mobile */
      
      }
    }
